@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Aqua Reminder help to stay fit and hydrated in your busy day. It motivates you to drink more water by seeting a target goal. Get reminded, drink water. It allows you to set the target amount and reminderss for the day and then reminder will reminds you at regular interval to drink water and repeat.</p>
